body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  font-size: 16px;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 16px;
}

.content {
  background: #e3f4ff;
  margin: 16px;
  padding: 15px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 15px;
  margin: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 15px;
  margin: 10px;
}